<div class="form-group" ng-controller="addMovieController">
    <label>Film címe: </label>
    <input id="movieTitle" type="text" ng-blur="disableButton();" ng-model="movie.title"></br>
    <label>Rendező: </label>
    <input id="movieDirector" type="text" ng-blur="disableButton();" ng-model="movie.director"></br>
    <label>Hossza(perc): </label>
    <input id="movieLength" type="number" ng-blur="disableButton();" ng-model="movie.length"></br>
    <label>Legközelebbi vetítés: </label>
    <input id="movieScreening" type="date" ng-blur="disableButton();" ng-model="movie.screeningtime"></br>
    <button ng-click="addMovie();" ng-disabled="disabledButton">Hozzáadás</button>
</div>